unprompted@git+https://github.com/ThereforeGames/unprompted # main unprompted library
opencv-python # general
nltk # natural language processing
pattern@git+https://github.com/NicolasBizzozzero/pattern # natural language processing